.quemSomos__input--nome{
    padding: 16px;
    width: calc(100% - 2rem);
    height: 56px;
    border: transparent;
    border-bottom: 1px solid #A2A2A2;
    border-radius: 8px;
    text-align: start;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    font-size: 0.75;
    margin-bottom: 16px;
    box-sizing: content-box;
}

.quemSomos__input--mensagem{
    width: calc(100% - 2rem);
    height: 82px;
    border: transparent;
    padding: 16px;
    border-bottom: 1px solid #A2A2A2;
    border-radius: 8px;
    text-align: start;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    font-size: 0.75;
    box-sizing: content-box;
}


@media screen and (min-width: 768px ) and (max-width: 1200px){
    .quemSomos__input--nome{
        width: calc(100% - 3rem)
    }
    .quemSomos__input--mensagem{
        width: calc(100% - 3rem)
    }
}

