.quemSomos__botao{
    margin-top: 8px;
    padding: 16px;
    background: #2A7AE4;
    width: 140px;
    height: 20px;
    font-family: 'Raleway';
    color: #fff;
    font-size: 1rem;
    line-height: 19px;
    font-weight: 400;
}