.quemSomos__lista{
    font-family: 'Raleway', sans-serif;
    font-size: 1rem;
    line-height: 19px;
    color: #464646;
    flex-grow: 1;
    margin-left: 100px;
}

.quemSomos__lista li {
    margin-bottom: 24px;
}



@media screen and (min-width: 768px ) and (max-width: 1200px){
    .quemSomos__lista{
        margin-left: 0;
    }
}

@media screen and (min-width: 0px ) and (max-width: 767px){
    .quemSomos__lista{
        margin-left: 0;
        text-align: center;
        margin-top: 16px;
    }
}

