.banner__botao{
    display: flex;
    margin-left: 9.5rem;
    padding: 16px;
    width: 100px;
    height: 20px;
    background-color: #2A7AE4;
    color: #FFF;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    margin-top: 16px;
    font-size: 16px;
    text-align: center;
    
}

.banner__botao:hover{
    background-color: #5595E9;
    -webkit-transform: scale(1.2); /* Safari 3-8 */
    transform: scale(1.1);
    transition: .3s;
}


@media screen and (min-width: 768px ) and (max-width: 1200px){
    
    .banner__botao{
        margin-left: 2rem;
    }


}



@media screen and (min-width: 0px ) and (max-width: 767px){
    .banner__botao{
        margin-left: 1rem;
    }
}



@media screen and (min-width: 1475px ) and (max-width: 1922px){
    .banner__botao{
        margin-left: 19rem;
        
    }

  }