.banner__titulo{
    display: flex;
    color: #FFF;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    margin-left: 9.5rem;
    padding-top: 9.375rem;
    font-size: 3.25rem;
    line-height: 3.8125rem;
    font-style: normal;
    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.75);
    text-align: start;
}


@media screen and (min-width: 768px ) and (max-width: 1200px){
    .banner__titulo{
        margin-left: 2rem;
        
    }
    

}
    

@media screen and (min-width: 0px ) and (max-width: 767px){
    .banner__titulo{
        margin-left: 1rem;
        padding-top: 4.875rem;
    }
}


@media screen and (min-width: 1475px ) and (max-width: 1922px){
    .banner__titulo{
        margin-left: 19rem;
        
    }

  }