.banner__imagem{
    background-image: url(../../../photos/banner-image.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    max-height: 352px;
    width: 100%;
}
