.banner__imagem{
    background: url("../assets/photos/banner-image.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    max-height: 352px;
    width: 100%;
}
