
@import "//netdna.bootstrapcdn.com/font-awesome/3.0/css/font-awesome.css";


.cabecalho__input{
    margin-left: 32px;
    padding: 8px 16px;
    width: 393px;
    height: 25px;
    border-radius: 20px;
    align-items: center;
    font-family: 'fontAwesome';
    text-align: start;
    border-color: transparent;
    background-color: #F5F5F5;
    font-weight: 700;
    
    
}

@media screen and (min-width: 768px ) and (max-width: 1200px){

    .cabecalho__input{
        width: 272px;
    }

}


@media screen and (min-width: 0px ) and (max-width: 767px){
    .cabecalho__input{
        display: none;
    }
}