.cabecalho__login{
    width: 150px;
    height: 15px;
    padding: 16px;
    border: 1px solid #2A7AE4;
    font-family: 'Raleway';
    text-align: center;
    font-weight: 500;
    color: #2a7ae4;

}