.login__botao{
    width: 395px;
    height: 31px;
    background: #2A7AE4;
    text-align: center;
    padding: 16px;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    font-size: 0.875rem;
    line-height: 21px;
    color: #fff;
    border-radius: 5px;
}

.login__botao:hover{
    background-color: #5595E9;
    transition: 0.3s;
}



@media screen and (min-width: 0px ) and (max-width: 767px){
    .login__botao{
        width: 90px;
        height: 15px;
    }

}