

.produtos__button{
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 1rem;
    line-height: 19px;
    color: #2A7AE4;
    display: flex;
    align-items: center;
    gap: 8px;
}

.produtos__botao--adicionar{
    height: 20px;
    width: 149px;
    background: #2A7AE4;
    padding: 16px;
    text-align: center;
    color: #fff;
    font-family: 'Raleway', sans-serif;
    font-size: 1rem;
}

.produtos__button:hover{
    -webkit-transform: scale(1.2); /* Safari 3-8 */
    transform: scale(1.1);
    transition: .3s;
}


