.produtos__nome{
    font-style: 'Raleway';
    font-weight: 500;
    font-size: 0.875rem;
    line-height: 16px;
    color: #464646;
    margin-bottom: 8px;
}


@media screen and (min-width: 768px ) and (max-width: 1200px){


}